header *, .navbar *, .navbar-collapse *, #block-mainnavigation {
  background-color: #ffffff !important;
  color: #000000 !important;
}
header {
  border-bottom: 1px solid #000000 !important;
}
#searchAnchor  {
  border-bottom: 1px solid #000000 !important;
  margin-top: -1px;
}

.navbar-toggle > .icon-bar {
  background-color: #000 !important;
}

.navbar-fixed-top:before {
  background-color: #ffffff !important;  
}

#home-about-us {
  background-color: #ffffff;
  color: #000000;
}

#about-fields > .field--item > .paragraph {
  color: #000000 !important;
  border-color: #000000;;
}

#footer {
  background-color: #ffffff;
}

#footer *, 
#footer-social-links-block-title, 
.footer-social-links *, 
.footer-bottom * {
  color: #000000 !important;
}


.footer .menu.nav li {
  border-right: 1px solid #000000;
}

/* Team section  */
.lawyer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 40px 20px;
}

.lawyer-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 24px;
  max-width: 320px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  color: #fff;
}


.lawyer-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 28px rgba(31, 38, 135, 0.3), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease;
  cursor: pointer;
}


.lawyer-photo {
  width: 100% !important;
  padding: 0 !important;
  height: 96px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.lawyer-name {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 4px;
  text-align: center;
}

.lawyer-title {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 12px;
  text-align: center;
}

.lawyer-contact {
  font-size: 1.2rem;
  color: #444;
  margin: 2px 0;
  text-align: center;
}

.detail-button {
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #005ea2;
  color: #fff !important;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.detail-button:hover {
  background-color: #004a85;
}

@media (max-width: 768px) {
  .lawyer-card {
    max-width: 100%;
  }
}
